<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ducktph19569.fpoly.ducktph19569_mob2041_libmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ducktph19569_MOB2041_LibManager"
        tools:targetApi="31">
<!--        <activity android:name=".ManhinhHome">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

<!--        </activity>-->
        <activity android:exported="true"
            android:name=".ManhinhHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      <activity android:name=".Login.Login"/>
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Ducktph19569_MOB2041_LibManager.NoActionBar">

        </activity>
    </application>

</manifest>